@import "tailwindcss";

@theme {
  /* Kolory tła */
  --color-main-bg: #1d1d1d;       /* Tło viewportu 3D */
  --color-panel-bg: #3d3d3d;      /* Tło paneli bocznych i navbaru */
  --color-element-bg: #424242;    /* Tło sekcji wewnątrz paneli */
  --color-hover-bg: #565656;      /* Kolor po najechaniu na przycisk */

  /* Kolory akcentowe */
  --color-brand: #e68531;         /* Klasyczny pomarańcz Blendera */
  --color-brand-hover: #fa9d50;   /* Jaśniejszy pomarańcz */

  /* Kolory tekstu i obramowania */
  --color-txt-main: #eeeeee;      /* Główny tekst */
  --color-txt-muted: #999999;     /* Tekst pomocniczy, skróty klawiszowe */
  --color-ui-border: #1a1a1a;     /* Ciemne linie podziału */
}