@import "tailwindcss";

@theme {
  /* Background */
  --color-main-bg: #1d1d1d;     
  --color-panel-bg: #3d3d3d;      
  --color-element-bg: #424242;    
  --color-hover-bg: #565656;    

  /* Hover */
  --color-brand: #e68531;         
  --color-brand-hover: #fa9d50;   

  /* Text and outline */
  --color-txt-main: #eeeeee;      
  --color-txt-muted: #999999;     
  --color-ui-border: #1a1a1a;     
}